.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 8px;
  background: var(--gray-500)
}
.container + .container {
  margin-top: 12px;
}

.container button {
  background: transparent;
  color: var(--gray-300);
  border: 0;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;

  line-height: 0;
  border-radius: 4px;
  transition: all 0.5s;
}

.container button:hover {
  background: var(--gray-400);
  color: var(--danger);
}
