main {
  max-width: 956px;
  margin: 0 auto;
}

button {
  display: flex;
  align-items: center;
  justify-items: center;
  color: var(--gray-100);
  background: var(--blue-dark);
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.4;
  padding: 1rem;
  border-radius: 8px;
  border: 0;
}

button .iconButton {
  color: var(--gray-100);
  width: 0.875rem;
  height: 0.875rem;
}
